* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

video {
  display: block;
  max-width: 100%;
  height: auto;
}
